body {
	background-color: dimgrey;
    font-size: 20px;
    text-align: center;
}

.row {
    display:flex;
}

.noodleColumn {
    text-align: center;
    background-color: grey;
    border-radius: 5px;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.column50 {
    flex: 50%;
    text-align: center;
}

.tile {
	border-radius: 15px;
	background-color: grey;
	padding: 15px;
	width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.puzzleGrid{
    display:grid;
    grid-template-columns: 63px 63px 63px 63px 63px 63px 63px 63px 63px;
    justify-content: center;
    row-gap: 3px;
}

.centre{
    text-align: center;
}

.solutionButton{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.puzzleTitle{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.noodleDot {
    height: 45px;
    width: 45px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
  }

input[type=checkbox] {
    transform: scale(2);
    margin-left: 10px;
    margin-right: 10px;
}